<section class="box-text encounter"><header><img src="modules/pf2e-abomination-vaults/assets/journal-images/icons/icon-monster.webp" width="100" />
<section>
<h2>Encounter</h2>
<h2>Difficulty</h2>
</section>
<section>
<div>
<p>links</p>
</div>
<p>XP</p>
</section>
</header>
<article>
<p>Description</p>
</article>
</section>