<section class="box-text investigation"><header><img src="modules/pf2e-abomination-vaults/assets/journal-images/icons/icon-rules.webp" width="100" />
<h2>Exploration</h2>
<p>@Compendium[pf2e.actionspf2e.TiNDYUGlMmxzxBYU]{Search} @Compendium[pf2e.actionspf2e.EwgTZBWsc8qKaViP]{Investigate}</p>
</header>
<article>
<h3>Search</h3>
<p></p>
<h3>Investigate</h3>
<p></p>
</article>
</section>